

/* Layout for Natalya Shelburne Color Picker 
* Adapted from Practical Color Theory for People Who Code
* https://tallys.github.io/color-theory/
*/

.colorContainer {
    max-width: 80%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: auto;
}

/* End Layout On The colors.html Page */